@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

.banner-tree {
  background-image: url("./assets/images/tree.jpg");
  width: 100%;
  height: 90%;
  background-attachment: fixed;
}

.banner-tree h1 {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
}

.container-description {
  display: flex;
  justify-content: space-around;
}

.margin-role {
  margin-left: -2rem;
}

.margin-tools {
  margin-left: -8rem;
}

.margin-duration {
  margin-left: -10rem;
}

.image-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 40%;
}
.description h2 {
  font-weight: 300;
}
.description p {
  color: gray;
}

/* Design Process */
.design-process {
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: 10rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.design-process h2 {
  font-weight: 300;
}

.design-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.design-grid h2 {
  font-weight: 200;
}

.design-grid-description {
  display: flex;
}

.icon-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-flow {
  display: flex;
}

/* Buttons */
.btn.btn-primary.active {
  background-color: #fff;
  border-color: #3a939a;
}

.btn a {
  color: #3a939a;
  text-decoration: none;
}
.btn a:hover {
  color: #fff;
}
.btn.btn-primary.active:hover {
  background-color: #3a939a;
  border-color: #747575;
}

h1 {
  font-weight: 300;
}
p {
  color: gray;
}

/* Breakpoints Media queries*/
@media (max-width: 767.98px) {
  .launch {
    text-align: center;
  }
}
